# SPDX-License-Identifier: Apache-2.0
# requirements.txt — Python test dependencies (pinned for reproducibility)
# Install: pip install -r tests/requirements.txt
pytest==8.0.2
pytest-cov==4.1.0
pytest-xdist==3.5.0
hypothesis==6.155.7
configparser==6.0.0
