# SPDX-License-Identifier: Apache-2.0
[Unit]
Description=Run IPMI SDR sensor exporter every 60 seconds

[Timer]
OnCalendar=*:*:0/60
AccuracySec=5s
Persistent=true

[Install]
WantedBy=timers.target
